#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};


/ {
    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Auto Shift";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <50>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Homerow Mods Left";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <100>;
            // require-prior-idle-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <7 8 9 10 11 22 23 24 25 26 36 37 38 39 40 46 47 48>;
            hold-trigger-on-release;
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Homerow Mods Right";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <100>;
            // require-prior-idle-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 29 30 31 32 33 34 35 43 44 45>;
            hold-trigger-on-release;
        };

        &soft_off {
            hold-time-ms = <3000>   // only turn off if the key is held for 3 s or longer
        }
    };

    combos {
        compatible = "zmk,combos";

        combo_term_copy {
            timeout-ms = <50>;
            key-positions = <16 31>; // S and C keys
            bindings = <&kp LG(LS(C))>;
            layers = <0>;
        };

        combo_term_paste {
            timeout-ms = <50>;
            key-positions = <18 33>; // G and V keys
            bindings = <&kp LG(LS(V))>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "COLEMAK";
            bindings = <
&none  &kp Q         &kp W        &kp F         &kp P          &kp B                              &none                 &kp J          &kp L          &kp U         &kp Y         &kp SQT       &none
&none  &hml LCTRL A  &hml LALT R  &hml LGUI S   &hml LSHIFT T  &kp G                    &none     &none      &none      &kp M          &hmr RSHIFT N  &hmr RGUI E   &hmr RALT I   &hmr RCTRL O  &none
&none  &kp Z         &kp X        &kp C         &kp D          &kp V       &none                  &none                 &kp K          &kp H          &kp COMMA     &kp DOT       &kp FSLH      &none
                                 &kp ESC       &as TAB SPACE         &mo 2                                                     &mo 1      &kp BSPC          &kp ENTER
            >;
        };

        sym_num_layer {
            display-name = "SYM/NUM";
            bindings = <
&none  &as EXCL N1    &as AT N2      &as HASH N3    &as DLLR N4    &as PRCNT N5                               &none                 &as CARET N6   &as AMPS N7    &as ASTRK N8   &as LPAR N9    &as RPAR N0    &none
&none  &as PIPE BSLH  &as PLUS EQUAL &as UNDER MINUS&as RPAR LPAR  &as DQT SQT                  &none         &none      &none      &as COLON SEMI &as QMARK FSLH &as TILDE GRAVE &as LBRC LBKT  &as RBRC RBKT  &none
&none  &kp PIPE       &kp PLUS       &kp UNDER      &kp GRAVE       &kp DQT         &none                      &none                 &kp COLON      &kp AMPS       &kp HASH       &kp LBRC       &kp RBRC       &none
                                     &trans         &trans          &mo 3                                                       &trans          &trans          &trans
            >;
        };

        nav_layer {
            display-name = "NAV";
            bindings = <
&none  &kp TAB      &none       &none        &none         &none                              &none                 &none         &none         &none        &none       &none        &none
&none  &kp LCTRL     &kp LALT    &kp LGUI    &kp LSHIFT    &none                    &none     &none      &none      &none         &kp LEFT      &kp DOWN     &kp UP      &kp RIGHT    &none
&none  &none        &none       &none        &none         &none       &none                  &none                 &none         &kp HOME      &kp PG_DN    &kp PG_UP   &kp END      &none
                                &trans       &trans        &trans                                               &mo 3        &trans        &trans
            >;
        };

        fun_layer {
            display-name = "FUN";
            bindings = <
&none  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                             &none                 &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &none
&none  &kp F11       &none         &none         &none         &none                    &none     &none      &none      &none         &none         &none         &none         &kp F12       &none
&none  &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none                &none                 &bootloader   &soft_off         &none         &none         &none         &none
                                   &trans        &trans        &trans                                               &trans        &trans        &trans
            >;
        };
    };
};